
.form_log{
    width: 30%;
    
}
.form_back{
    padding: 30px;
    background: #fff;
    border-radius: 10px;
}
.body_background{
    /* background-image: url("../../../assets/images/background.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 569px;
    display: flex;
    align-items: center;
    justify-content: center;
}