.table_head{
    background: #258bc9 !important; 
    color: #fff !important;
}
.list_heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 15px 0px;
}
.flex-6{
    flex: 6;
}
.flex-2{
    flex: 2;
}
.view_button {
    padding: 5px 15px;
    background: #fff;
    vertical-align: top;
    border-radius: 8px;
    text-decoration: none;
}
.delete_button{
    padding: 5px 15px;
    background: #fff;
    vertical-align: top;
    border-radius: 8px;
    text-decoration: none;
    color: red;
}
.cursor-pointer span{
    cursor: pointer;
}