<div class="container">
  <div class="row pt-5 pb-5">
      <div class="col-md-6">
          <h5>Add User</h5>

          <form >
              <div class="form-group has-feedback">
                  <label for="name">First Name:</label>
                  <input type="text" class="form-control"  id="name" placeholder="First Name" required>
                  
              </div>
              <div class="form-group">
                  <label for="email">Last Name:</label>
                  <input type="text" class="form-control" placeholder="Last Name" required >
                 
              </div>

              <div class="form-group">
                <label for="Company Name">Phone Number</label>
                <input type="number" class="form-control" placeholder="Phone Number" required>
               
            </div>
            <div class="form-group">
              <label for="Company Name">Email</label>
              <input type="email" class="form-control" placeholder="Email">
             
          </div>
          <div class="form-group">
            <label for="blood">Address</label>
            <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
           
        </div>
              
            <div class="form-group">
              <label for="dob">Social Url</label>
              <input type="text" class="form-control" >
             
          </div>

              <div class="form-group">
                <label for="file">Photo</label>
                <input type="file" class="form-control" >
               
            </div>

              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
  </div>
</div>